{{ define "main" }}

{{ $cols := 3 }}
{{ $image_dir := .Params.image_dir }}
{{ $images := .Params.images }}

{{ .Content}}

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <div class="row">
    {{ range $x := seq 0 (sub $cols 1) }}
    <div class="column">
    {{ range $index, $element := $images }}
      {{ if eq (mod $index $cols) $x }}

      {{ partial "gallery-figure.html" (dict "context" . "image_dir" $image_dir) }}
      
      {{ end }}
     {{ end }}
    </div>
    {{ end }}
  </div>
</div>

{{ end }}

{{ define "pswp" }}
{{ partial "pswp.html" . }}
{{ end }}

{{ define "scripts" }}
<script src="/init-pswp.js"></script>
{{ end }}