$black: #000;
$grey: #9c9c9c;

$anchor-color: $grey;
$anchor-visited-color: $black;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "europa", Helvetica, arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 1.8em;
  letter-spacing: .04em;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  background-color: #fff;
  color: #666;
}

a {
  color: $anchor-color;
  text-decoration: none;
}

a:visited {
  color: $anchor-visited-color;
  text-decoration: none;
}

ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#canvas {
  padding: 60px;
}

header {
  position: relative;
  z-index: 999;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  #logo {
    margin-right: 30px;

    h1 {
      margin: 0;
      font-family: "Varela Round", Helvetica, arial, sans-serif;
      font-weight: normal;
      line-height: 1.2em;
      text-transform: uppercase;
      letter-spacing: .08em;
      font-weight: 900;
      font-style: normal;
      font-size: 36px;
      display: inline-block;
    }
  }

  #top-nav {
    li {
      display: inline-block;

      a {
        text-transform: lowercase;
        padding: 10px;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #canvas {
    padding: 20px;
  }
}

@media screen and (max-width: 432px) {
  .mobile-hidden {
    display: none
  }
}

@media screen and (max-width: 432px) {
  .subDesktop-hidden {
    display: none
  }
}

@media screen and (min-width: 433px) {
  .desktop-hidden {
    display: none
  }
}